@if (visible) {
    <div class="relative w-full h-screen bg-black/80 backdrop-blur-xs">
        <div class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 w-full max-w-2xl space-y-4 bg-white p-6 rounded-2xl flex flex-col items-center justify-center">
            <div class="w-full flex justify-between items-center">
                <h2 class="font-bold text-atzicay-purple-500 text-2xl">Términos y Condiciones</h2>
                <button title="close-modal" (click)="handleCloseModal()" type="button">
                    <i class="bi bi-x-circle-fill text-atzicay-red-300 text-2xl cursor-pointer"></i>
                </button>
            </div>
            <div class="w-full h-96 overflow-y-scroll p-2.5 text-justify">
                <p>Al utilizar Atzicay, reconoce haber leído, entendido y aceptado estos Términos y Condiciones, así como nuestra Política de Privacidad. Estos términos pueden ser modificados ocasionalmente; cualquier cambio será publicado en esta misma página y el uso continuado del sitio constituirá la aceptación de dichas modificaciones.</p>
                <strong>
                    Uso de la Plataforma
                </strong>
                <p>Atzicay permite a los usuarios:
                    Crear juegos educativos utilizando herramientas proporcionadas por la plataforma.
                    Compartir públicamente sus creaciones con otros usuarios.
                    Acceder y jugar a juegos creados por otros.
                    Se compromete a utilizar Atzicay solo para fines legales y educativos, y de forma que no se vulneren los derechos de terceros.
                    </p>
                <strong>
                    Contenido Generado por el Usuario
                </strong>
                <p>El contenido que genere y publique en Atzicay seguirá siendo de tu propiedad, sin embargo, al compartirlo, otorga a Atzicay una licencia gratuita, no exclusiva, mundial y perpetua para utilizar, almacenar, mostrar y distribuir dicho contenido dentro de la plataforma.
                No se permite el contenido ofensivo, violento, discriminatorio, o que infrinja derechos de autor. Atzicay se reserva el derecho de retirar cualquier contenido que consideremos inapropiado.</p>
                <strong>
                    Responsabilidad del Usuario
                </strong>
                <p>Usted es responsable del contenido que publica y del uso que haga de la plataforma. No debe subir material que no tenga derecho de uso, incluyendo materiales protegidos por derechos de autor, sin la debida autorización.
                </p>
                <strong>
                    Disponibilidad del Servicio
                </strong>
                <p>Atzicay realiza los mayores esfuerzos para mantener la disponibilidad de la plataforma. Sin embargo, no se garantiza que el servicio esté libre de interrupciones o errores. Se reservan el derecho de modificar, suspender o descontinuar el servicio en cualquier momento.
                </p>
                <strong>
                    Propiedad Intelectual
                </strong>
                <p>Todos los derechos sobre el software, diseño, funcionalidades y contenido de Atzicay, a excepción del contenido generado por los usuarios, pertenecen a los desarrolladores de la plataforma. Queda prohibida su reproducción o uso no autorizado.</p>
                <strong>
                    Limitación de Responsabilidad
                </strong>
                <p>Atzicay no se responsabiliza por daños directos o indirectos derivados del uso, o de la imposibilidad de uso de la plataforma, incluyendo la pérdida de datos o contenidos.
                </p>
                <strong>
                    Ley Aplicable
                </strong>
                <p>Estos términos se rigen por las leyes del Perú. Cualquier controversia será resuelta por los tribunales competentes de dicha jurisdicción.</p>
            </div>
        </div>
    </div>

}
