@if (visible) {
    <div class="relative w-full h-screen bg-black/80 backdrop-blur-xs">
        <div class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 w-full max-w-2xl space-y-4 bg-white p-6 rounded-2xl flex flex-col items-center justify-center">
            <div class="w-full flex justify-between items-center">
                <h2 class="font-bold text-atzicay-purple-500 text-2xl">Términos y Condiciones</h2>
                <button title="close-modal" (click)="handleCloseModal()" type="button">
                    <i class="bi bi-x-circle-fill text-atzicay-red-300 text-2xl cursor-pointer"></i>
                </button>
            </div>
            <div class="w-full h-96 overflow-y-scroll p-2.5 text-justify">
                <p>Al utilizar Atzicay, reconoces haber leído, entendido y aceptado estos Términos y Condiciones, así como nuestra Política de Privacidad. Estos términos pueden ser modificados ocasionalmente; cualquier cambio será publicado en esta misma página y el uso continuado del sitio constituirá tu aceptación de dichas modificaciones.</p>
                <strong>
                    Uso de la Plataforma
                </strong>
                <p>Atzicay permite a los usuarios:

                    Crear juegos educativos utilizando herramientas proporcionadas por la plataforma.

                    Compartir públicamente sus creaciones con otros usuarios.

                    Acceder y jugar a juegos creados por otros.

                    Te comprometes a utilizar Atzicay solo para fines legales y educativos, y de forma que no infrinjas los derechos de terceros.
                    </p>
                <strong>
                    Contenido Generado por el Usuario
                </strong>
                <p>El contenido que crees y publiques en Atzicay seguirá siendo de tu propiedad, pero al compartirlo, otorgas a Atzicay una licencia gratuita, no exclusiva, mundial y perpetua para usar, almacenar, mostrar y distribuir dicho contenido dentro de la plataforma.

                    Prohibimos el contenido ofensivo, violento, discriminatorio, o que infrinja derechos de autor. Nos reservamos el derecho de eliminar cualquier contenido que consideremos inapropiado.</p>
                <strong>
                    Responsabilidad del Usuario
                </strong>
                <p>Eres responsable del contenido que publicas y del uso que hagas de la plataforma. No debes subir material que no tengas derecho a usar, incluyendo materiales protegidos por derechos de autor, sin autorización.
                </p>
                <strong>
                    Disponibilidad del Servicio
                </strong>
                <p>Atzicay se esfuerza por mantener la disponibilidad de la plataforma, pero no garantiza que el servicio estará libre de interrupciones o errores. Nos reservamos el derecho de modificar, suspender o descontinuar el servicio en cualquier momento.
                </p>
                <strong>
                    Propiedad Intelectual
                </strong>
                <p>Todos los derechos sobre el software, diseño, funcionalidades y contenido de Atzicay, salvo el contenido generado por los usuarios, pertenecen a los desarrolladores de Atzicay. Queda prohibida la reproducción o uso no autorizado del mismo.</p>
                <strong>
                    Limitación de Responsabilidad
                </strong>
                <p>Atzicay no será responsable por daños directos o indirectos derivados del uso o imposibilidad de uso de la plataforma, incluidos daños por pérdida de datos o contenidos.
                </p>
                <strong>
                    Ley Aplicable
                </strong>
                <p>Estos términos se rigen por las leyes del Perú. Cualquier controversia será resuelta por los tribunales competentes de dicha jurisdicción.</p>
            </div>
        </div>
    </div>

}
