<div 
  class="flex"
  [class.flex-wrap]="wrap"
  [class.gap-1]="gap === 'sm'"
  [class.gap-2]="gap === 'md'"
  [class.gap-3]="gap === 'lg'"
  [class.bg-gray-100]="pillStyle"
  [class.p-1]="pillStyle && padding === 'sm'"
  [class.p-2]="pillStyle && padding === 'md'"
  [class.p-3]="pillStyle && padding === 'lg'"
  [class.rounded-lg]="pillStyle"
  [class.rounded-full]="roundedFull"
  [class.w-full]="fullWidth"
>
  @for (tab of tabs; track trackByFn($index, tab)) {
    @if (!tab.hidden) {
      <button
        (click)="changeTab(tab.id)"
        [disabled]="tab.disabled"
        [class]="getButtonClasses(tab)"
      >
        @if (tab.icon) {
          <i class="mr-2" [class]="tab.icon"></i>
        }
        {{ tab.label }}
      </button>
    }
  }
</div>
