<div 
  class="bg-[#E5D8F2] rounded-lg p-2 mx-4 my-4 flex flex-wrap w-fit gap-x-2"
>
  @for (tab of tabs; track trackByFn($index, tab)) {
    @if (!tab.hidden) {
      <button
        (click)="changeTab(tab.id)"
        [disabled]="tab.disabled"
        class="px-6 py-2 rounded-lg font-medium transition-colors"
        [class]="activeTab === tab.id ? 'bg-atzicay-bg-button text-white' : 'text-gray-700 hover:bg-gray-100'"
      >
        @if (tab.icon) {
          <i class="mr-2" [class]="tab.icon"></i>
        }
        {{ tab.label }}
      </button>
    }
  }
</div>
