<div class="flex h-screen w-full overflow-hidden">
  <button
    title="Toggle Sidebar"
    aria-label="Toggle Sidebar"
    (click)="toggleSidebar()"
    class="md:hidden fixed top-4 left-4 z-50 p-2 bg-white rounded-lg shadow-lg hover:bg-gray-100 transition-colors"
  >
    <svg viewBox="0 0 100 80" xmlns="http://www.w3.org/2000/svg">
      <rect
        x="10"
        y="10"
        width="80"
        height="60"
        rx="5"
        ry="5"
        fill="none"
        stroke="black"
        stroke-width="5"
      />
      <line x1="30" y1="10" x2="30" y2="70" stroke="black" stroke-width="5" />
    </svg>
  </button>

  <app-sidebar
    [class.hidden]="!sidebarOpen"
    class="w-64 h-full overflow-y-auto z-40 fixed md:relative md:block bg-white shadow-lg md:shadow-none transition-all duration-300"
  ></app-sidebar>

  @if(sidebarOpen) {
  <div
    (click)="sidebarOpen = false"
    class="fixed inset-0 bg-opacity-50 z-30 md:hidden"
  ></div>
  }

  <div class="flex-1 flex flex-col overflow-hidden border-l border-[#D3CCEC]">
    <app-header class="w-full z-10"></app-header>
    <main class="flex-1 overflow-y-auto">
      <router-outlet></router-outlet>
    </main>
  </div>
</div>
