<div class="flex mb-3 p-4">
  <a
    routerLink="content"
    class="px-6 py-2 rounded-l-lg font-bold cursor-pointer"
    [ngClass]="activeTab === 'content' ? 'bg-atzicay-purple-500 text-white' : 'bg-purple-200 text-gray-400'"
  >
    Contenido
  </a>
  <a
    routerLink="config"
    class="px-6 py-2 font-bold cursor-pointer"
    [ngClass]="activeTab === 'config' ? 'bg-atzicay-purple-500 text-white' : 'bg-purple-200 text-gray-400'"
  >
    Configuración
  </a>
  <a
    routerLink="preview"
    class="px-6 py-2 rounded-r-lg font-bold cursor-pointer"
    [ngClass]="activeTab === 'preview' ? 'bg-atzicay-purple-500 text-white' : 'bg-purple-200 text-gray-400'"
  >
    Vista Previa
  </a>
</div>

<router-outlet></router-outlet>
